/* Flex */
/* Sidebar positioned to the left and fills up the full vertical of the page*/
.app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* The sidebar should take up about 20 percent of the screen */
.sidebar {
  background-color: lightcoral;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;
  padding: 10px;
}

/* Graph component positioned to the right of sidebar and also takes up the full vh space and remaining horizontal space*/
.graph {
  background-color: lightblue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 80%;
  padding: 10px;
}

.trends-graph-container {
  width: 100%; /* Set the width of the graph container */
  height: 400px; /* You can change the height as needed */
  max-width: 600px; /* Set a max width to keep it constrained */
  margin: 0 auto; /* Centers the graph within the page */
}

.node {
  cursor: pointer;
  /* I want an expandable width and height */
  width: 600px;
  height: 400px;
  /* I don't want the text to highlight or the curor to flash when the mouse goes over it */
  user-select: none;
}
